@tailwind base;
@tailwind components;
@tailwind utilities;

/* The container */

  
  /* Hide the browser's default checkbox */
.specialNoteSectionIcons  img{
  width: 20px;
  object-fit: cover;
  cursor: pointer;
}
.socialIcons  img{
  width: 17px;
  object-fit: cover;
  cursor: pointer;
}